# Environment variables
.env

# Bun
node_modules

# Frontend
.nuxt
.output

# Logs folder
logs/*
!logs/.gitkeep

# Media folder
media/*
!media/.gitkeep

# Database data folder
data/db/*
!data/db/.gitkeep

# pgAdmin sessions folder [ignore all in pgadmin folder except sessions directory itself]
data/pgadmin/*
data/pgadmin/sessions/*
!data/pgadmin/sessions/
!data/pgadmin/sessions/.gitkeep