/*
  Color palette for the Gotcha app 🎨
*/

:root {
  --color-accent-00: #25adb7;

  --color-background-00: #272a2e;
  --color-background-01: #2b2f34;

  --color-border-00: #373a3e;
  --color-border-01: #1d2227;

  --color-text-normal: #b7c0ca;
  --color-text-muted: #464a52;
  --color-text-bright: #d7e0eb;
  --color-text-brightest: #ffffff;

  --color-link-normal: #689194;

  --color-input-background-00: #17191c;
  --color-input-border-00: var(--color-border-00);

  --color-button-normal-background-00: #56a6ac;
  --color-button-normal-background-01: #6ab6bb;
  --color-button-normal-border-00: #56a6ac;
  --color-button-normal-border-01: #6ab6bb;

  --color-button-outline-background-00: transparent;
  --color-button-outline-background-01: #2b2f34;
  --color-button-outline-border-00: #373a3e;

  --color-button-mono-background-00: #1a1f1f;
  --color-button-mono-background-01: #262c2c;
  --color-button-mono-border-00: #2d3236;

  --color-button-disabled-background-00: transparent;
  --color-button-disabled-border-00: #1e2224;

  --color-item-highlight-00: #282a31;

  --color-text-selection-type: var(--color-text-brightest);
  --color-text-selection-background: var(--color-accent-00);

  --color-form-field-background: #272a2e;
  --color-form-field-border: #404448;
  --color-form-field-border-focus: #689194;
  --color-form-field-text: #ffffff;
  --color-form-field-required: #cf7b7b;
  --color-form-field-border-error: #cf7b7b;
  --color-form-field-placeholder-text: #383b42;

  --color-status-red-00: #cf7b7b;
  --color-status-red-type-00: #d4b8b8;
  --color-status-red-border-00: #613e3e;
  --color-status-red-background-00: #352b2e;
  --color-status-red-background-01: #3c2c2f;

  --color-status-green-00: #7bcf7b;
  --color-status-green-type-00: #b6c9b6;
  --color-status-green-border-00: #3b4d3b;
  --color-status-green-background-00: #273027;
  --color-status-green-background-01: #2c3c2c;

  --color-status-blue-00: #7bbbcf;
  --color-status-blue-type-00: #b6c5c9;
  --color-status-blue-border-00: #3e5363;
  --color-status-blue-background-00: #394649;
  --color-status-blue-background-01: #2c3134;

  --color-status-gray-00: #b7b7b7;
  --color-status-gray-type-00: #8a8a8a;
  --color-status-gray-border-00: #444444;
  --color-status-gray-background-00: #2f2f2f;
  --color-status-gray-background-01: #3a3a3a;
}
