/*
  Low-level typography related styling ⌨️
 */

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-VariableFont_wght.ttf') format('truetype supports variations');
  src: url('/fonts/Urbanist-VariableFont_wght.ttf') format('truetype-variations');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype supports variations');
  src: url('/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
}

:root {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
}

* {
  font-weight: 400;
}
