/*
  Some base, global styling for basic elements (e.g. html, body, a, h1, h2, etc.) 🌍
*/

:root {
  /* Text selection colors and backgrounds */
  ::selection {
    color: var(--color-text-selection-type);
    background: var(--color-text-selection-background);
  }

  ::-moz-selection {
    color: var(--color-text-selection-type);
    background: var(--color-text-selection-background);
  }
}

html {
  /* Apply background color to html element so that there isn't a falsh of white on page load */
  background: var(--color-background-00);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
button,
input,
textarea,
select {
  /* Default text color */
  color: var(--color-text-normal);
}

a {
  color: var(--color-link-normal);
  cursor: pointer;

  line-height: 1rem;
  text-decoration: none;
  text-underline-offset: 0.4rem;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;

  line-height: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

svg.nuxt-icon {
  height: auto;
  margin: 0;
}

.page-basic {
  height: 100%;
  overflow: hidden;

  padding: 1.5rem 2rem;

  align-content: start;
  display: grid;
  gap: 1rem;

  animation: var(--anim-page-entry);
}
