/*
  Reset CSS
  https://piccalil.li/blog/a-modern-css-reset
  v2.0.1 | 2021/06/20
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  height: auto;
  max-width: 100%;

  background-repeat: no-repeat;
  background-size: cover;

  vertical-align: middle;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
html {
  height: 100%;

  scroll-behavior: smooth;
}
