# Postgres
# ======================================================

# System ownership variables for Postgres data directory
SYSTEM_OWNERSHIP="1000" # 👈 Set this to your server's user's uid

# General Postgres connection variables
POSTGRES_SERVER="db" # 👈 Set to "db" to run development docker instances, production and migrations. Set to "localhost" when running services manually for development or to run @kudos/database scripts locally
POSTGRES_DB="kudos"
POSTGRES_USER="kudos"
POSTGRES_PASSWORD="" # 👈 Set your own password here

# Prisma-specific connection string
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}?schema=development" # 👈 Set schema to development for development, otherwise set to public or any schema of your choice (e.g. staging)

PGADMIN_DEFAULT_EMAIL="" # 👈 Set the pgAdmin admin email here
PGADMIN_DEFAULT_PASSWORD="" # 👈 Set the pgAdmin admin password here

# Redis
# ======================================================
REDIS_SERVER="redis" # 👈 Set to "redis" for production and "localhost" for development
REDIS_PASSWORD="" # 👈 Set your own password here

# Ports
# ======================================================

PGADMIN_PORT=5020
NUXT_PORT=5010
API_PORT=5000

# Frontend
# ======================================================


# API
# ======================================================

API_SERVER_URL="http://localhost:${API_PORT}/api" # 👈 Set this to the URL that the API will be able to be accessed by externally
API_CLIENT_URL="http://localhost:${NUXT_PORT}" # 👈 Set this to the URL that the frontend will be able to be accessed by externally
API_JWT_SECRET="" # 👈 Set your own secret here
API_JWT_TOKEN_EXPIRATION="1h"
API_COOKIE_NAME="kudos_token"
API_COOKIE_EXPIRATION=3600000

# Outgoing email
# ======================================================

SMTP_HOST="" # 👈 Set the email server URL that Kudos will use to send outgoing emails from
SMTP_PORT=465
SMTP_FROM="" # 👈 Set the email address that Kudos will use to send outgoing emails from
SMTP_USER="" # 👈 Set the email username here delete this comment
SMTP_PASS="" # 👈 Set the email password here