# Postgres
# ======================================================

# System ownership variables for Postgres data directory
POSTGRES_SYSTEM_OWNERSHIP="1000:1000" # 👈 Set this to your server's user's uid:gid and delete this comment

# General Postgres connection variables
POSTGRES_SERVER="db" # 👈 Set to "db" for production and "localhost" for development and delete this comment
POSTGRES_DB="kudos"
POSTGRES_USER="kudos"
POSTGRES_PASSWORD="" # 👈 Set your own password here and delete this comment

# Prisma-specific connection string
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}"

# Redis
# ======================================================
REDIS_SERVER="redis" # 👈 Set to "redis" for production and "localhost" for development and delete this comment
REDIS_PASSWORD="" # 👈 Set your own password here and delete this comment

# Ports
# ======================================================

ADMINER_PORT=8090
NEXT_PORT=3000
API_PORT=5000

# Frontend
# ======================================================


# API
# ======================================================

API_SERVER_URL="http://localhost:${API_PORT}/api"
API_CLIENT_URL="http://localhost:${NEXT_PORT}"
API_JWT_SECRET="" # 👈 Set your own secret here and delete this comment
API_JWT_TOKEN_EXPIRATION="1h"
API_COOKIE_NAME="kudos_token"
API_COOKIE_EXPIRATION=3600000

# Outgoing email
# ======================================================

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=465
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM=no-reply@example.com