:root {
  --color-background-00: #17191c;
  --color-background-01: #292b31;
  --color-background-02: #1f2125;

  --color-border-00: #292b31;

  --color-font-00: #b8bdc4;
  --color-font-01: #41454d;
}
